[project]
	description = Ruby on Rails website to automate video watching experience
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jose miguel Maduro Valenzuela (mudstart)
[access "refs/for/refs/*"]
	read = group user/Jose miguel Maduro Valenzuela (mudstart)
	push = group user/Jose miguel Maduro Valenzuela (mudstart)
	label-Code-Review = -2..+2 group user/Jose miguel Maduro Valenzuela (mudstart)
	label-Verified = -1..+1 group user/Jose miguel Maduro Valenzuela (mudstart)
	rebase = group user/Jose miguel Maduro Valenzuela (mudstart)
	removeReviewer = group user/Jose miguel Maduro Valenzuela (mudstart)
	submit = group user/Jose miguel Maduro Valenzuela (mudstart)
[access "refs/heads/*"]
	read = group user/Jose miguel Maduro Valenzuela (mudstart)
	create = group user/Jose miguel Maduro Valenzuela (mudstart)
	push = +force group user/Jose miguel Maduro Valenzuela (mudstart)
	pushMerge = group user/Jose miguel Maduro Valenzuela (mudstart)
[access "refs/tags/*"]
	push = group user/Jose miguel Maduro Valenzuela (mudstart)
	push = +force group user/Jose miguel Maduro Valenzuela (mudstart)
