<h1 class="text-center">Newest Episodes</h1>
<% if homepage_episodes.empty? %>
    <p class="lead">Looks like you have free time now, go do something constructive</p>
<% else %>
    <ul class="thumbnails">
        <%= render homepage_episodes %>
    </ul>
<% end -%>