<%= form_for @anime_show, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">Show URL:</span>
        <%= f.text_field :url, :class => 'text_field', :id => 'prependedInput' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                anime_shows_path, :class => 'btn' %>
  </div>
<% end %>
