<%- model_class = AnimeShow -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <%= link_to 'Add a show',
              new_anime_show_path,
              :class => 'btn btn-primary' %>
</div>
<div class="row-fluid">
  <ul class="thumbnails">
    <% @anime_shows.each do |anime_show| %>
      <%= render anime_show %>
    <% end %>
  </ul>
</div>