<% if @episode.video.exists? %>
    <%= render :partial => 'episodes/video_player', :locals => {:video_url => @episode.video.url } %>
<% elsif @episode.video_file.present? %>
    <div id='my-video'></div>
    <embed src="<%= @episode.video_file %>" height="360" width="640">
<% else %>
  <%= render 'nw_anime_iframe' %>
<% end -%>