<table height="500px%" width="100%">
 <tr><td style="overflow:hidden;position:relative;">
  <iframe scrolling=auto id=rf src="<%= @episode.url %>"
  frameborder=0 allowtransparency=true style="width:1280px;height:1200px;top:-225px;left:-110px;position:absolute;">
 </td></tr>
</table>