<%- model_class = Episode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<ul class="thumbnails">
  <%= render @episodes %>
</ul>

<%= will_paginate @episodes %>