<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Older</a>
  </li>
  <li class="next">
    <a href="#">Newer &rarr;</a>
  </li>
</ul>
<div class="page-header">
  <h1><%= @episode.name %> <small></small></h1>
  <%= render :partial => 'user_seen_episodes/create_form', :locals => {:episode => @episode} %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_episode_path(@episode), :class => 'btn btn-mini' %>
</div>
<table height="500px%" width="100%">
 <tr><td style="overflow:hidden;position:relative;">
  <iframe scrolling=auto id=rf src="http://www.nwanime.com/dansai-bunri-no-crime-edge-episode-3/watch/229f66e786161b72c69a/"
  frameborder=0 allowtransparency=true style="width:1280px;height:1200px;top:-225px;left:-100px;position:absolute;">
 </td></tr>
</table>