<h1>New Episodes</h1>
<ul class="thumbnails">
    <% if user_signed_in? %>
        <% Episode.unseen_episodes(current_user).each do |episode| %>
            <%= render :partial => 'episodes/episode_list_item', :locals => {:episode => episode} %>
        <% end %>
    <% else %>
        <%= render :partial => 'episodes/episode_list_item', :collection => Episode.order(:created_at).limit(10), :as => :episode %>
  <% end %>
</ul>