<h1 class="text-center">Your Show Subscriptions</h1>

<% if @subscriptions.empty? %>
    <p class="lead text-center">Why you no have shows to watch?</p>
<% else %>
    <%= render @subscriptions %>
<% end -%>