<div class="row add-top">
    <div class="one-third column draw-cell">
        <h2>Sign in</h2>

        <%= render 'form' %>

        <%= render "devise/shared/links" %>
    </div>
    <div class="two-thirds column draw-cell two-hundred omega text-center">
        <h1 class="vertical-center-align">{I haz anime}</h1>
    </div>
</div>