/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require base
 *= require skeleton
 *= require_self
 *= require_tree .
 */
 @font-face {
   font-family: 'Manga Temple';
   src: url('/assets/mangat.ttf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Manga Temple';
   src: url('/assets/mangatb.ttf');
   font-weight: bold;
   font-style: normal;
 }

 body {
    background-image: image-url('black_paper.png');
}

.container {
    background-image: image-url('natural_paper.png');
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.text-center {
    text-align: center;
}

.one-hundred {
    height: 100px;
    margin: auto;
}

.two-hundred {
    height: 200px;
    margin: auto;
}

.three-hundred {
    height: 300px;
    margin: auto;
}

.inline {
    display: inline;
}

.cell {
    border-width: 2px;
    border-style: solid;
}

.draw-cell {
    border-width: 2px;
    border-style: solid;
    background-color: #fff;
}

.top-right-cell {
    border-left: 2px;
    border-bottom: 2px;
    border-style: solid;
}

.bottom-right-cell {
    border-left: 2px;
    border-top: 2px;
    border-bottom: 0px;
    border-right: 0;
    border-style: solid;
}

.bottom-left-cell {
    border-left: 0px;
    border-top: 2px;
    border-bottom: 0px;
    border-right: 2px;
    border-style: solid;
}

.colored-text {
    color: #8F1600;
}

.vertical-center-align {
    line-height: 400%;
}

.banner-cell {
    border-left: 2px;
    border-bottom: 2px;
    border-style: solid;
    background: #000;
    height: 275px;
    margin: auto;
    width: 800px;
    background-image: image-url('twgok-gray.jpeg');
    /*background-repeat:no-repeat;*/
    background-position: 50% 0%;
}

.title {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    margin: auto;
}

.logo {
    line-height: 100px !important;
    color: #8F1600;
}

.homepage_login {
    position: absolute;
    left: 3.2em;
    top: 7.9em;
    width: 227px !important;
    padding-left: 1em;
    background-color: #fff;
}

.frustration-cell {
    background-color: gray;
}

.frustration-text {
    width: 9em;
    position: absolute;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 14em;
    margin-top: .5em;
    background-color: white;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #800000;
    text-align: center;
}

.discover_cell {
    background-size: 100%;
    background-image: image-url('thin_dramatic_stencil_landscape1.jpg');
    background-repeat:no-repeat;
}

.watch-right-cell {
    width: 5em;
    position:absolute !important;
    margin-left: 12.2em;
    margin-top: 3em;
}

.watch-left-cell {
    width: 6em;
    position:absolute !important;
    margin-left: 1em;
    margin-top: 4.5em;
}

#selectors{
    height: 4em;
}