/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #mobile-header {
     display: none;
 }
 @media only screen and (max-width: 767px){
     #mobile-header {
         display: block;
     }

     #navigation {
        display: none;
     }

     #side_well{
        display: none;
     }
 }

.display_inline {
    display: inline-block;
}

.modal {
    text-align: center;
    width: 720px !important;
}

.episode_card {
    min-height: 340px;
}

li.show_info_item {
    position: relative;
}

.preview_video {
    position: absolute;
    right: 5px;
    bottom: 27px;
}

.mark_seen {
  position: absolute;
  left: 5px;
  bottom: 6px;
}