<div class="span3" id="side_well">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Anime Shows</li>
      <% anime_show_subscriptions.each do |anime| %>
        <li>
          <span>
            <%= new_indicator(anime) %>
            <%= link_to truncate(anime.name, :length => 15), anime  %>
          </span>
        </li>
      <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->