<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>

	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container cell">
        <div class="row half-bottom">
            <div class="sixteen columns omega">
                <div class="banner-cell">
                </div>
            </div>
            <div class="title top-right-cell one-third column omega text-center"><h3 class="logo">I HAZ ANIME</h3></div>
        </div>
        <div class="row">
            <div class="eight columns cell omega two-hundred ">
                <h3 class="text-center half-bottom">Watch Your Anime's</h3>
                <div class="column">
                    <ul class="disc">
                        <li>Subscribe to the shows you watch</li>
                        <li>Keep track of what shows you have seen</li>
                        <li>Find out when new episodes are released</li>
                        <li>Add shows that you cant find</li>
                    </ul>
                </div>
            </div>
            <div class="eight columns cell two-hundred ">
                <h3 class="text-center half-bottom">Discover New Obsessions</h3>
                <div class="column">
                    <ul class="disc">
                        <li>Browse New Shows</li>
                        <li>Find out what others are watching</li>
                        <li>See what your friend are watching</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row half-bottom">
            <div class="one-third column cell omega three-hundred">Sign In or Sign up</div>
            <div class="two-thirds column cell three-hundred omega">
                <h3 class="text-center half-bottom">The Story Arc</h3>
                <div class="column">
                    <p>
                        Lately I have been finding it increasingly harder and harder to
                        keep up with the animes I want to watch. As the days go on and new
                        episodes come out my browser's tab bar becomes increasingly larger and larger
                        in order to catalog which episodes I haven't watched. After awhile I asked myself,
                        "why cant this be easier?".
                    </p>
                    <p>
                        So in the end I decided to make my own site.
                        With one goal, make anime watching easier. Why cant we keep track of our shows,
                        discover new great animes? Find out what shows are most popular?
                        Find out what your friends are watching and easily recommend new shows to them.
                    </p>
                    <p>
                        A website should be as enjoyable as the anime your watching.
                    </p>
                </div>
            </div>
        </div>
    </div><!-- container -->
    <%#= yield %>
</body>
</html>